.box{
    width: 100px; height: 100px;
    border: 1px solid red;
    background-color: yellow;
}
.box2{
    background-color: red;
    position: relative; 
    /*position relative(상대적인) : 본래 지정된 구역의 위치부터 시작*/ 
    top: 50px; /* 기존 위치에서부터 윗변기준으로 50px 아래로 이동*/
    left: 50px; /* 기존 위치에서부터 왼쪽변기준으로 50px 오른쪽로 이동*/
}

.box3{
    background-color: green;
    position: absolute;
    /*position absolute(절대적인) : 부모(상위) 요소의 위치부터 시작점 */
    top : 50px;
    left: 50px;
}

.box4{
    background-color: blue;
    position: static;
    /*position static(정적인) : 코드 작성순으로 배치 , 위치 (top/left/right/bottom)속성 불가능 */
    top : 50px;
    left: 50px;
}

.box5{
    background-color: gray;
    position: fixed;
    /*position static(고정된) : 디바이스(화면)의 위치 고정 */
    bottom : 50px; /*화면에서 부터 아래변 기준으로 50px 위로 이동*/
    right: 50px; /*화면에서 부터 오른쪽변 기준으로 50px 왼쪽으로 이동*/
}

.parent{
    background-color: orange; padding: 10px;
    position: relative;
}
.box6{
    background-color: beige;
    position: absolute;
    /*position static(고정된) : 디바이스(화면)의 위치 고정 */
    top : 100px; /*화면에서 부터 아래변 기준으로 50px 위로 이동*/
    right: 100px; /*화면에서 부터 오른쪽변 기준으로 50px 왼쪽으로 이동*/
}