#popup{
    background-color: beige;
    width: 200px; height: 200px;
    position: fixed; /*화면 위치 고정*/
    bottom: 50px; right: 10px;
    /*position 사용할경우 다른 요소 겹치는 경우 : z-index */
    /* z-index */
    z-index: 2;
}
#header{
    display: flex;
    justify-content: space-between;
    background-color: yellow;
    position: sticky;
    /*position : sticky 지정한 요소의 구역이 스크롤 밖으로 나갔을때 위치 고정*/
    top: 0px; /* 고정 위치 */
    z-index: 3;
}
#header > ul{ display: flex;}