*{
    padding: 0px; margin: 0px;
    box-sizing: border-box; font-size: 12px;
}
li{ list-style-type: none;}
a{ color: black; text-decoration: none;}

#wrap{}
#header{
    width: 100%;

    display: contents;

}
#content{ width: 1600px; margin: 0 auto;}
#footer{ width: 100%;}