/* CSS 주석처리 */
/*
    [CSS 구조]
        선택자{ 속성명 : 값 ;}

    [CSS 선택자]
        1. * :         전체선택자   ( 공통 css적용 )
        2. 마크업명 :   마크업 선택자
        3. .클래스  :   클래스 선택자( 복수 )
        4. #아이디  :   아이디 선택자( 단일 )
        - 만일 속성이 중복일때 우선선택
            #id > .class > 마크업명 > *
        - 그 외 중복일때는 코드 작성순으로 마지막 코드의 속성이 적용
        - 관례적(일반적)으로 최대한 클래스선택자 활용하고 특정한 부분에서 id선택자 작용한다.
        - 여러개 선택자를 한번에 적용 : ,쉼표 이용한 다중 선택자
            -선택자A , 선택자B { 속성명 : 값 ; }
        - 자식 선택자 : > 이용한 자식 선택자
            - 부모선택자 > 자식선택자{ }
        - 자손 선택자 : 띄어쓰기 이용한 자손선택자
            - 부모선택자 자손선택자{ }
*/
/*1. 전체 선택자*/
*{ color: red; }
/*2. 마크업 선택자*/
h4{ color: blue; }
/*3. 클래스 선택자*/
.구역1{ color: yellow; }
.구역3{ color: beige; }
/*4. 아이디 선택자 */
#구역2{ color: brown; }
/*5. 다중 선택자 */
h5 , h6 { color: pink; }
/*6. 자식(하위-child) 선택자*/
div > h3{ /* div 마크업 바로아래의 h3 선택 */
    color : green;
}
div > .구역5{ color: silver;}
/*7. 자손 선택자 */
div h3{ color: purple;}