
/* CSS 주석 */
/* CSS 문법 : 선택자{ 무엇을 : 어떻게; }

/* 1. 제품 구역 */
.product{
    border : 1px solid #eeeeee ; /* 구역 테두리 */
    width : 270px ; /* 구역 가로 사이즈 */
}
/* 2. 제품 이미지 */
.product-img{ width: 270px; } /* 이미지 가로 사이즈*/
/* 3. 제품 하단 구역 */
.product-info{
    border-top : 1px solid #eeeeee;
    padding: 10px;
    font-size: 12px;
}
/* 4. 제품 정보 구역 */
/* .product-info > .title{ } vs .title{ }  */
.product-info > .title{ 
    font-weight: bold; /* 글꼴 진하게 */
    font-size: 15px;
    margin-bottom: 10px; /* 바깥 아래 여백 */
}
.product-info > .price{
    font-weight: bold;
    margin-bottom: 10px;
}
.product-info > .content{
    line-height: 160%; /* 줄간격 */
    margin-bottom: 10px;
}
.product-info > .etc > .orange{
    color: orange;
    font-weight: bold;
}