* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#main_header {
    padding: 20px 40px;
    border-bottom: 1px solid #eee;
}

.menu_top {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 60px;
  background-color: white;
  padding: 0 100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.container {
  margin-top: 60px; 
}

.menu_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_menu {
    display: flex;
    gap: 20px;
    list-style: none;
}

.main_menu a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.app_download {
    background-color: orangered;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.search_area {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: system-ui, sans-serif;
  justify-content: center;
  margin-top: 40px;
  font-size: 14px;
  
}

.location_btn {
    background-color: #797985;
    color: #fff;
    padding: 10px 16px;
    border-radius: 50px;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}



.search_bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50px;
    gap: 10px;
    padding: 8px 12px;
    width: 1280px;
    cursor: pointer;
}

.category_select,
.search_input,
.search_botton {
    border: none;
    background: none;
    font-size: 14px;
    cursor: pointer;
}

.search_input {
    flex: 1;
    padding: 6px;
}

.search_botton {
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
}

.keyword_bar {
    margin-top: 10px;
}

.keywords {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    color: #555;
    font-size: 13px;
}

.keywords a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.keywords li {
  margin-right: 15px;
}

.populer {
    color: gray;
    font-weight: bold;
    font-size: 15px;
}