* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{ text-decoration: none; }
li{ list-style: none; }

#main_header {
    position: sticky;
    top:0px;
    padding: 5px 10px;
    background: #fff;
    z-index: 1;
}

.announcement {
position: fixed;
      bottom: 20px;
      right: 20px;
      background-color: #ff6600;
      color: white;
      padding: 12px 20px;
      border-radius: 8px;
      font-weight: bold;
      text-align: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      z-index: 9999;
      transition: background-color 0.3s;
    }

    .announcement:hover {
      background-color: #e65500;
    }

.menu_top {
    top: 0;
    left: 0; 
    width: 80%; 
    height: 72px; 
    background-color: white; 
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
  margin-top: 60px; 
}
.logo{ width: 65px;}

.main_menu {
    display: flex;
}

.main_menu > li{
    position: relative;
    padding: 20px 15px;
}

.main_menu > li > a {
    display: block;
    color: rgba(0,0,0,.9);
    font-size: 15px;
    font-weight:500
}

.sub_menu{
    display: none;
    position: absolute;
    top:52px;
    left: 15px;
    background: #fff;
    box-shadow:0 0 6px rgba(0,0,0,.3);
    border-radius: 5px;
    font-size: 13px;
    padding: 3px;
    z-index: 2;
    transition:.2s ease;
}
.main_menu > li:hover > .sub_menu{
    display: block;
    transition:.2s ease;
}
.sub_menu > li > a{
    display: block;
    min-width: 100px;
    padding: 5px;
    color: rgba(0,0,0,.8);
}
.sub_menu > li > a:hover{
    background: rgba(0,0,0,.05);
    border-radius: 5px;
    transition:.2s ease;
}

.app_download {
    background-color: orangered;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.search_area {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: system-ui, sans-serif;
  justify-content: center;
  margin-top: 6px;
  font-size: 14px;  
}

.location_btn {
    background-color: #efefef;
    color: black;
    padding: 15px 20px;
    border-radius: 50px;
    max-width: 100px;
    max-height: 40px;
    font-weight: bold;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;

}

.location_btn:hover {
  background-color: #e0e0e0;
}


.search_bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50px;
    gap: 10px;
    flex: 1;
    padding: 8px 16px;
    max-width: 1150px;
    max-height: 40px;
    cursor: pointer;
    
}

.category_select,
.search_input,
.search_botton {
    border: none;
    background: none;
    font-size: 14px;
    cursor: pointer;
}

.search_input {
    flex: 1;
    padding: 6px;
}

.search_botton {
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
}

.keyword_bar {
    margin-top: 12px;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.keywords {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    color: #555;
    font-size: 14px;
}

.keywords a {
    text-decoration: none;
    color: rgb(65, 65, 65);
    font-size: 14px;
}

.keywords li a {
  margin-right: 15px;
}

.populer {
    color: gray;
    font-size: 15px;
    margin-right: 10px;
}