.job_list {
  max-width: 1000px;
  margin: 0 auto;
  font-family: "Apple SD Gothic Neo", sans-serif;
  align-items: self-end ;
}

.job_item {
  border-bottom: 1px solid #eee;
  padding: 16px 0;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}

.location_time {
  font-size: 13px;
  color: #777;
  margin-bottom: 6px;
}

.wage {
  font-size: 14px;
  color: #444;
}

.wage strong {
  font-weight: bold;
  color: #222;
}

.badge {
  display: inline-block;
  background-color: #00c471;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 4px;
  margin-top: 6px;
}

.job_image img {
  width: 120px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.job_item.with_image {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
  border-bottom: 1px solid #eee;
  padding: 16px 0;
}