.job_list {
  max-width: 974px;
  max-height: 133px;
  margin: 0 auto;
  align-items: self-end ;
}

.job_item {
  border-bottom: 1px solid #eee;
  padding: 16px 0;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
}

.location_time {
  font-size: 14px;
  color: #777;
  margin-bottom: 6px;
}

.wage {
  font-size: 16 px;
  color: #444;
}

.wage strong {
  font-weight: bold;
  color: #222;
}

.smallbox {
  background-color: #f3f4f5;
  color: #555d6d;
  padding: 0px 6px;
  max-width: 55px;
  font-size: 11px;
  max-height: 20px;
  font-weight: bold;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 2px;
  display: flex;
  justify-content: center;
}

.job_image img {
  width: 160px;
  height: 120px;
  border-radius: 8px;
  object-fit: cover;
}

.job_item.with_image {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
  border-bottom: 1px solid #eee;
  padding: 16px 0;
}